.footer {
  background-color: black;
  height: 20vh;
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.footer--fadeTop {
  height: 7.4rem;
  background-image: linear-gradient(180deg, transparent, rgba(37,37,37,.61), #111);
}
