.json-container {
  display: flex;
  height: 60vh;
  align-items: center;
  justify-content: center;
  color: #9cdcfe;
  font-family: monospace;
  font-size: 14px;
  white-space: pre-wrap;
  word-wrap: break-word;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.json-container.light {
  color: black;
}