.App {
  text-align: center;
  background-color: #282c34;
}

.App-header {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  color: white;
  font-weight: 400;
  text-transform: uppercase;
}

.App-work {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 50vh;
  color: white;
  text-transform: uppercase;
}

h1 {
  color: #61dafb;
}

.text-gradient {
  background: linear-gradient(90deg,#00dbde, #fc00ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.img {
  height: 200px;
}