.App {
  text-align: center;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

h1 {
  color: #61dafb;
}

h2 {
  color: white;
}

.container {
  background-color: #0093E9;
  background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 70vh;
}

ul {
  font-size: calc(10px + 2vmin);
  display: flex;
  justify-content: center;
  text-decoration: none;
}

a {
  font-size: calc(10px + 2vmin);
  font-weight: bold;
  color: white;
  text-decoration: none;
}

a:hover {
  color: #61dafb;
  text-decoration: underline;
}
